name: Build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:
# allow manual trigger

jobs:
  build:
    runs-on: windows-latest
    permissions: read-all

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
      with:
        msbuild-architecture: x64

    - name: Build
      run: dotnet publish cs/testexport.csproj -r win-x64 -c:Release -p:Platform=x64 -o Out

    - name : Upload
      uses: actions/upload-artifact@v4.3.5
      with:
        name: testexport
        path: Out/*

    - name: Build
      run: msbuild cpp/testexport.vcxproj -t:rebuild -p:OutDir=Out -p:Configuration=Release -p:Platform=x64
